* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  color: #231942;
  /* color: #5e548e; */
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 0.8rem;
}

h1 {
  color: #020F66;
  font-size: 2.2rem;
  border: 2px solid red;
  padding: 2rem 0.5rem;
}

.inputs form {
  /* style the inputs container */
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* border: 2px solid red; */
  /* padding: 2rem 0.5rem; */

}

.show {
  /* border: 2px solid blueviolet; */
}

#password {
  color: #020F66;
  font-weight: 600;
  background-color: #E6EBEF;
  border: 1px solid #ABB4BD;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 20px;
  padding: 1rem;
}

.functionalityButtons {
  display: flex;
  /* flex-direction: row;ç */
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  > button {
    border: 1px solid #ABB4BD;
    border-radius: 20px;
    min-width: 50%;
    padding: 0.5rem 1rem;
    background-color: #E6EBEF;
    color: #020F66;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #020F66;
      color: #E6EBEF;
    }
  }
}